In [ ]:
!pip install seaborn

In [1]:
import pandas as pd
import numpy as np
#Bibliotecas para gráficos
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("scouts_2015.csv")

print("Dimensão da base: ", df.shape)
df.head()

Dimensão da base:  (29720, 34)

,atleta_id,apelido,rodada_id,ano,clube_id,clube,posicao_id,posicao,jogos_num,pontos_num,...,FC,GC,CA,CV,SG,DD,DP,GS,status_id,status
0,87552,Vitor Bueno,27,2015,277,Santos,4,mei,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
1,87552,Vitor Bueno,28,2015,277,Santos,4,mei,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
2,87552,Vitor Bueno,29,2015,277,Santos,4,mei,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
3,87552,Vitor Bueno,30,2015,277,Santos,4,mei,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
4,87552,Vitor Bueno,31,2015,277,Santos,4,mei,2,-0.3,...,0,0,0,0,0,0,0,0,0,NaN

Como está estruturado o dataset?

Quantos jogadores e rodadas temos registrados?