In [ ]:
!pip install seaborn

In [69]:
import pandas as pd
import numpy as np
#Bibliotecas para gráficos
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats as st

In [3]:
df = pd.read_csv("scouts_2015.csv")

print("Dimensão da base: ", df.shape)
df.head()

Dimensão da base:  (29720, 34)

,atleta_id,apelido,rodada_id,ano,clube_id,clube,posicao_id,posicao,jogos_num,pontos_num,...,FC,GC,CA,CV,SG,DD,DP,GS,status_id,status
0,87552,Vitor Bueno,27,2015,277,Santos,4,mei,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
1,87552,Vitor Bueno,28,2015,277,Santos,4,mei,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
2,87552,Vitor Bueno,29,2015,277,Santos,4,mei,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
3,87552,Vitor Bueno,30,2015,277,Santos,4,mei,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
4,87552,Vitor Bueno,31,2015,277,Santos,4,mei,2,-0.3,...,0,0,0,0,0,0,0,0,0,NaN

Como está estruturado o dataset?

In [5]:
print("Dimensão da base: ", df.shape)
df.head()

Dimensão da base:  (29720, 34)

,atleta_id,apelido,rodada_id,ano,clube_id,clube,posicao_id,posicao,jogos_num,pontos_num,...,FC,GC,CA,CV,SG,DD,DP,GS,status_id,status
0,87552,Vitor Bueno,27,2015,277,Santos,4,mei,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
1,87552,Vitor Bueno,28,2015,277,Santos,4,mei,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
2,87552,Vitor Bueno,29,2015,277,Santos,4,mei,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
3,87552,Vitor Bueno,30,2015,277,Santos,4,mei,1,0.0,...,0,0,0,0,0,0,0,0,0,NaN
4,87552,Vitor Bueno,31,2015,277,Santos,4,mei,2,-0.3,...,0,0,0,0,0,0,0,0,0,NaN

Quantos jogadores e rodadas temos registrados?

In [14]:
len(df['apelido'].unique())

872

In [15]:
len(df['rodada_id'].unique())

36

Quais variáveis são categóricas e quais são numéricas?

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29720 entries, 0 to 29719
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   atleta_id           29720 non-null  int64
 1   apelido             29720 non-null  object
 2   rodada_id           29720 non-null  int64
 3   ano                 29720 non-null  int64
 4   clube_id            29720 non-null  int64
 5   clube               29720 non-null  object
 6   posicao_id          29720 non-null  int64
 7   posicao             29720 non-null  object
 8   jogos_num           29720 non-null  int64
 9   pontos_num          29720 non-null  float64
 10  media_num           29720 non-null  float64
 11  preco_num_anterior  29720 non-null  float64
 12  preco_num           29720 non-null  float64
 13  variacao_num        29720 non-null  float64
 14  FS                  29720 non-null  int64
 15  PE                  29720 non-null  int64
 16  A                   29720 non-null  int64
 17  FT                  29720 non-null  int64
 18  FD                  29720 non-null  int64
 19  FF                  29720 non-null  int64
 20  G                   29720 non-null  int64
 21  I                   29720 non-null  int64
 22  PP                  29720 non-null  int64
 23  RB                  29720 non-null  int64
 24  FC                  29720 non-null  int64
 25  GC                  29720 non-null  int64
 26  CA                  29720 non-null  int64
 27  CV                  29720 non-null  int64
 28  SG                  29720 non-null  int64
 29  DD                  29720 non-null  int64
 30  DP                  29720 non-null  int64
 31  GS                  29720 non-null  int64
 32  status_id           29720 non-null  int64
 33  status              0 non-null      float64
dtypes: float64(6), int64(25), object(3)
memory usage: 7.7+ MB

Qual é a pontuação média dos jogadores em uma rodada?

In [31]:
df.describe().pontos_num['mean']

np.float64(0.9490753701211304)

In [ ]:
df[df['atleta_id'] == 87552]['pontos_num']

np.float64(0.0)

Qual posição tem a maior mediana de pontos?

In [ ]:
array = df['posicao'].unique()

for i in array:
    mediana = np.median(df[df['posicao'] == i]['pontos_num'])
    print(i, mediana)

mei 0.0
lat 0.0
ata 0.0
gol 0.0
zag 0.0
tec 2.88

Existe um jogador que aparece como “moda” em gols ou assistências (ou seja, que repete muito em valores)?

In [95]:
jogadores = df['atleta_id'].unique()


moda = st.mode(jogadores)
nome = df[df['atleta_id'] == moda[0]]['apelido'].tolist()[0]
print(nome, moda[0])

Dida 36443

A pontuação dos atacantes é mais dispersa que a dos zagueiros?

In [117]:
zag = df[df['posicao'] == 'zag']['pontos_num']
dpZag = zag.std()
ata = df[df['posicao'] == 'ata']['pontos_num']
dpAta = ata.std()
print(f"Zagueiro: {dpZag:.2f}, Atacante: {dpAta:.2f}")

Zagueiro: 2.64, Atacante: 3.12

Qual posição tem maior consistência de desempenho (menor desvio-padrão de pontos)?

In [119]:
for i in array:
    std = np.std(df[df['posicao'] == i]['pontos_num'],ddof=1)
    print(i, std)

mei 2.387969932698349
lat 2.7713292819220428
ata 3.1202587030693127
gol 3.0778055814883465
zag 2.6406523797022765
tec 2.1979471287030834

Como é a variabilidade no preço dos jogadores por posição?

In [121]:
for i in array:
    variabilidade = np.var(df[df['posicao'] == i]['preco_num'])
    print(i, variabilidade)

mei 21.07978403474384
lat 19.55811410639778
ata 30.15568383511807
gol 36.90723415733069
zag 19.22122439122584
tec 8.184456682649547

Como se distribuem os gols por jogador? A distribuição é simétrica ou enviesada?

In [ ]:
df[df['apelido'] == i[]]